In [ ]:
#Task1: Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
The Moscow Times - Wednesday, October 2, 2002
The Guardian - Friday, 11.10.13
Daily News - Thursday, 18 August 1977

In [ ]:
#решения

In [ ]:
import date_converter
converted_date = date_converter.string_to_datetime('Jun 1 2005', '%b %d %Y')

In [ ]:
import datetime
date = datetime.date(int('11'),int('10'),int('13'))
date
datetime.date(11, 10, 13)
type(date)
type 'datetime.date'

In [ ]:
from dateutil.parser import *
dates = []
dates.append('11 10 13')
dates.append('October 2 2002')
dates.append('Agust 18 1977')
[parser.parse(x) for x in dates]

In [ ]:
def try_strptime(s, fmts=['%d-%b-%y','%m/%d/%Y']):
    for fmt in fmts:
        try:
            return datetime.strptime(s, fmt)
        except:
            continue

    return None # or reraise the ValueError if no format matched

In [2]:
#Task2

In [ ]:
#Напишите функцию, которая проверяет даты на корректность:  True (дата корректна) или False (некорректная дата)

In [ ]:
from datetime import datetime

In [ ]:
stream = [
    '2018-04-02', 
    '2018-02-29', 
    '2018-19-02']
def check_date(list_date):
    for date in list_date:
        try:
            valid_date = datetime.strptime(date, '%Y-%m-%d')
            print(True)    
        except ValueError:
            print(False)
check_date(stream)

In [ ]:
#Task3 Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD

In [ ]:
from datetime import timedelta
from datetime import datetime
start_date=input('Введите начальную дату в формате YYYY-MM-DD: ')
end_date=input('Введите дату окончания в формате YYYY-MM-DD: ')
def date_range(start, end):
    start_datetime=datetime.strptime(start,'%Y-%m-%d')
    end_datetime=datetime.strptime(end,'%Y-%m-%d')
    days=[]
    intermediate_datetime=start_datetime
    while intermediate_datetime<=end_datetime:
        intermediate_datetime=intermediate_datetime+timedelta(days=1)
        print_datetime=datetime.strftime(intermediate_datetime,'%Y-%m-%d')
        days.append(print_datetime)
        #print(print_datetime)
    return(days)
date_range(start_date, end_date)

In [ ]:
#В случае неверного формата или при start_date > end_date должен возвращаться пустой список

In [ ]:
start_date=input('Введите начальную дату в формате YYYY-MM-DD: ')
end_date=input('Введите дату окончания в формате YYYY-MM-DD: ')
def date_range(start, end):
    start_datetime=datetime.strptime(start,'%Y-%m-%d')
    end_datetime=datetime.strptime(end,'%Y-%m-%d')
    days=[]
    if start_datetime<end_datetime:
        intermediate_datetime=start_datetime
        while intermediate_datetime<=end_datetime:
            intermediate_datetime=intermediate_datetime+timedelta(days=1)
            print_datetime=datetime.strftime(intermediate_datetime,'%Y-%m-%d')
            days.append(print_datetime)
        #print(print_datetime)
    return(days)
date_range(start_date, end_date)

In [1]:
#Корректировка: возвращение пустого списка

In [2]:
from datetime import datetime, timedelta

def date_range(start_date, end_date, date_format='%Y-%m-%d'):
    result = []
    try:
        start_date_dt = datetime.strptime(start_date, date_format)
        end_date_dt = datetime.strptime(end_date, date_format)
    except:
        return result

    current_date_dt = start_date_dt
    
    while current_date_dt < end_date_dt:
        result.append(current_date_dt.day)
        current_date_dt += timedelta(days=1)
        
    return result
    
date_range('1999-01-28', '1999-02-05')
print('1', date_range('1999-02-05', '1999-01-28'))
print('2', date_range('1999-111-222', '1999-333-444'))

1 []
2 []

In [ ]:
#Task4

In [ ]:
DEFAULT_USER_COUNT = 3
def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
    """"" Удаляет из списка default_list последнего пользователя и возвращает ID нового последнего пользователя. """ 
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)
    return default_list[DEFAULT_USER_COUNT-2]

In [ ]:
delete_and_return_last_user(1)

In [ ]:
#Correction

In [ ]:
DEFAULT_USER_COUNT = 3
def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
    """"" Удаляет из списка default_list последнего пользователя и возвращает ID нового последнего пользователя. """ 
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)
    return default_list[-1]

In [ ]:
delete_and_return_last_user(1)